<h2>Edit Commercial</h2>

<%= render "form.html", changeset: @changeset,
                        action: commercial_path(@conn, :update, @commercial) %>

<span><%= link "Back", to: commercial_path(@conn, :index) %></span>
