<h2>Edit Residentiel</h2>

<%= render "form.html", changeset: @changeset,
                        action: residentiel_path(@conn, :update, @residentiel) %>

<span><%= link "Back", to: residentiel_path(@conn, :index) %></span>
